# Ignore files and directories that should not be tracked by Git
desktop/HELP.md
desktop/NOTES.md
desktop/LAYOUT_DEMO.md
desktop/CSS-README.md
desktop/table.css
desktop/buttons.css
desktop/responsive.css
desktop/HTML-Template.html
desktop/Dark-Mode-Toggle.md
desktop/
target/
desktop/VERSIONING_HELPER.md
logs/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.env.ci
.env.test
.env.compose-dev
db-config/container/dev/.env.dev
db-config/container/test/.env.test
db-config/container/prod/.env.prod
db-config/local/prod/.env
# git rm -r --cached -f makefiles/
makefiles/


## workshops ##
desktop/zu-docs/workshop_profile_users/.env.workshop
desktop/zu-docs/workshop_postgres_users/.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
