<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{htmxdemo/inlineEdit/fragments/header :: head}"></head>
<body>
<h1>Kundenliste 🧾</h1>
<table style="table-layout: fixed; width: 100%;">
    <colgroup>
        <col style="width: 10%;">
        <col style="width: 30%;">
        <col style="width: 40%;">
        <col style="width: 20%;">
    </colgroup>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Aktion</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="kunde : ${kunden}">
        <tr th:replace="~{htmxdemo/inlineEdit/fragments/tableRow :: row(kunde=${kunde})}"></tr>
    </th:block>
    </tbody>
</table>
<script>
<!--    document.body.addEventListener('htmx:afterRequest', function (evt) {-->
<!--      const target = evt.detail.target;-->
<!--      const rowId = target.getAttribute('data-row-id');-->

<!--      console.log("data-row-id:", rowId);-->
<!--      console.log("htmx:afterRequest", evt.detail.xhr.status);-->

<!--      if (evt.detail.xhr.status === 204 && rowId) {-->
<!--        const row = document.getElementById(rowId);-->
<!--        if (row) row.remove();-->
<!--      }-->
<!--    });-->
</script>
</body>
</html>
