<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Kundenübersicht</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link href="https://cdn.simplecss.org/simple.min.css" rel="stylesheet">
        <script>
            function sync(el) {
              const form = el.closest('tr').querySelector('form');
              const hidden = form.querySelector(`input[name="${el.name}"]`);
              if (hidden) hidden.value = el.value;
            }
            function highlightChange(el) {
                const original = el.getAttribute('data-original');
                const current = el.value;

                console.log("Original:", original);
                console.log("Current:", current);

                if (current !== original) {
                  el.classList.add('field-edited');
                } else {
                  el.classList.remove('field-edited');
                }
            }
        </script>
    <link rel="stylesheet" href="/css/inlineBearbeitung.css"/>
</head>