<!-- hx-target="this", hx-target="closest form", hx-target="closest tr" -->
<th:block th:fragment="row(kunde)" xmlns:th="http://www.w3.org/1999/xhtml">
    <tr th:id="'kunde-' + ${kunde.id}">
        <td th:text="${kunde.id}"></td>
        <td th:text="${kunde.name}"></td>
        <td th:text="${kunde.email}"></td>
        <td>
            <button
                    hx-swap="outerHTML"
                    th:attr="hx-get='/inlineEdit/edit/' + ${kunde.id}, hx-target='#kunde-' + ${kunde.id}">
                ✏️ Bearbeiten
            </button>
            <!-- hx-delete="'/inlineEdit/delete/' + ${kunde.id}"           -->
            <button
                    th:attr="hx-delete='/inlineEdit/delete/' + ${kunde.id}"
                    th:data-row-id="'kunde-' + ${kunde.id}"
                    hx-trigger="click"
                    hx-target="this"
                    hx-swap="none"
                    class="delete-btn"
            >
                🗑️ Löschen
            </button>
        </td>
    </tr>
</th:block>
