# env/.env.local-prod.example

# 🌱 Aktives Spring-Profil
SPRING_PROFILES_ACTIVE=local-docker-db

# 🗄️ DB Host & Port (App → Docker)
DB_HOST=localhost
DB_PORT=5432

# 🐳 Docker DB Container
DB_IMAGE=postgres:16-alpine
DB_CONTAINER=postgres-local-docker-db

# 🔐 Postgres Root-User (für Container)
POSTGRES_USER=admin
POSTGRES_PASSWORD=__SET_ME__
DB_NAME=tasks_dev_db
POSTGRES_DB=tasks_dev_db

# 🧑‍💻 App-DB-User (wird in init-dev-db.sh erstellt)
APP_DB_USER=dev_user
APP_DB_PASSWORD=dev_secret

# 💾 Docker Volume
VOLUME=pgdata-local-docker-db
